---
# ansible/roles/webserver/tasks/composer.yml
# Install and configure Composer

- name: Check if Composer is installed
  stat:
    path: /usr/local/bin/composer
  register: composer_stat

- name: Download Composer installer
  get_url:
    url: "https://getcomposer.org/installer"
    dest: "/tmp/composer-installer.php"
    mode: '0755'
  when: not composer_stat.stat.exists
  tags: composer

- name: Install Composer
  shell: php /tmp/composer-installer.php --install-dir=/usr/local/bin --filename=composer
  when: not composer_stat.stat.exists
  tags: composer

- name: Verify Composer installation
  command: composer --version
  register: composer_version
  changed_when: false
  tags: composer

- name: Display Composer version
  debug:
    var: composer_version.stdout
  tags: composer
